#color {
    background-color: rgb(0, 1, 20);
    color: white;
}


#deck {
    display: flex;
    flex-direction: column;
    margin-bottom: -5%;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.agustement {
    margin-top: 5%;
}

#text_deck,
#extra_deck,
#main_deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.CardImage-box {
    flex: 1 1 auto;
    max-width: 10%;
}

@media (max-width: 790px) {
  .CardImage-box {
    max-width: 85px;
  }
}

@media (max-width: 600px) {
  .CardImage-box {
    max-width: 80px;
  }
}

@media (max-width: 532px) {
  .CardImage-box {
    max-width: 67px;
  }
}

@media (max-width: 456px) {
  .CardImage-box {
    max-width: 60px;
  }
}

@media (max-width: 438px) {
  .CardImage-box {
    max-width: 55px;
  }
}

@media (max-width: 380px) {
  .CardImage-box {
    max-width: 48px;
  }
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
